<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Upload Grades</title>

<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/faculty.css}" />

</head>

<body>
<!-- Top Navbar -->
<div class="top-navbar">
  <div class="container top-nav-content">

    <div class="brand">
      <a th:href="@{/faculty/dashboard}" class="logo-container">

        <img src="/images/DAU_Logo.png"
             alt="DAIICT Logo"
             class="logo">

        <span class="logo-text">
        Dhirubhai Ambani Institute of Information & Communication Technology
        </span>

      </a>
    </div>

  </div>
</div>


<div class="container">
  <!-- err msg -->
      <div
        th:if="${success}"
        class="message message-success"
        onclick="this.style.display = 'none'"
        th:text="${success}"
      ></div>
      <div
        th:if="${error}"
        class="message message-error"
        onclick="this.style.display = 'none'"
        th:text="${error}"
      ></div>
      <div
        th:if="${warning}"
        class="message message-warning"
        onclick="this.style.display = 'none'"
        th:text="${warning}"
      ></div>

<div style="display:flex;justify-content:space-between;align-items:center;margin:5px;">

<h2 style="color:#1f2fb7">Upload Grades</h2>

<a th:href="@{/faculty/dashboard}"
   class="btn btn-primary"
   style="background:#1f3fb7;border:none">
Home
</a>

</div>


<div class="card stats-card">

<div style="text-align:center;padding:40px;">

<h3>Select Upload Method</h3>

<br>

<a th:href="@{/grades/upload(tcrid=${tcrid})}" class="btn btn-primary">
Manual Entry
</a>

<br><br>

<a th:href="@{/grades/upload(tcrid=${tcrid}, tab='csv')}" class="btn btn-secondary">
Upload CSV
</a>

</div>

</div>

</div>


<!-- Footer -->
<footer class="footer">

<div class="container footer-content">

<span>
Dhirubhai Ambani University, Gift City road, Gandhinagar, Gujarat
</span>

<span>
© 2025 Dhirubhai Ambani University. All rights reserved.
</span>

</div>

</footer>

</body>
</html>